<h1>Lista soggetti</h1>
    
      
    <%= form_tag names_path, :method => 'get', :id => "names_search" do %>  
      <p>  
        <%= text_field_tag :search, params[:search] %>  
        <%= submit_tag "Search", :name => nil %>  
      </p>  
     <div id="names"><%= render 'names' %></div>  
    <% end %>  
