body{
font-family:"Trebuchet MS",helvetica,arial,sans-serif;
text-align:left;
color:#333;
font-size: 76%;
}



body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;

}
  
  h1 {
    font-size: 28px;
    color: #000;
  }

  h2 {
    font-size: 24px;
    color: #000;
  }
  
  a  {color: #610003}
  a:hover {
    background-color: #df0000;
    color: white;
    text-decoration: none;
  }
  
  
  #page {
    background-color: #f0f0f0;
    width: 1024px;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #content {
    float: left;
    background-color: white;
    border: 2px solid #aaa;
    border-top: 2px solid #aaa;
    padding: 2px;
    width: 840px;
  }
  
  #sidebar {
    float: right;
    width: 140px;
  }

  #footer {
    clear: both;
  }
  





/* tables */

table {
width: 100%;
border: 0;
color:#333;
background-color: #fff;
clear:both;
padding: 0;
margin: 0 0 2em 0;
white-space: normal;
}
th {
background-color: #6699cc;
color: #ffffff;
border: 1px solid #336699;
text-align: center;
padding: 0;
}
table tr td {
border: 1px solid #ddd;
padding: 4px;
vertical-align:top;

}
table tr.altRow td {
background: #f4f4f4;
}
table td.actions {
	white-space: nowrap;
}





